@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
    color: #575757;;
}
#skip{
    color: #FBA24F;
}
h1{
    color: #575757;
}
#heading1{
    font-size: 40px;
    position: absolute;
    margin: 200px 10%;
}
.img1{
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    position: absolute;
    margin: 100px 60%;
}
#heading2{
    font-family: "Playwrite DE Grund", cursive;
    position: absolute;
    margin: 360px 10%;
}
.img2{
    background-image: url(body-builder.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 410px;
    width: 400px;
    position: absolute;
    margin: 74px 57%;
}
.bg-body{
    height: 600px;
    width: 1350px;
    background-color: #E5E5E5;
    position: absolute;
}
.body{
    position: absolute;
    margin: 600px 0px;
}
.img3{
    background-image: url(female.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
    position: absolute;
    margin: 200px 300px;
    z-index: 2;
}
.img4{
    background-image: url(box1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 94px;
    position: absolute;
    margin-top: -2px;
    transform: rotate(90deg);
}
.img5{
    background-image: url(box3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 80px;
    position: absolute;
    margin: 400px 0px;
}
.img6{
    background-image: url(box2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 164px;
    position: absolute;
    margin: 0px 1000px;
}
.img7{
    background-image: url(box4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    position: absolute;
    margin: 200px 240px;
    z-index: 1;
}
#about-me{
    position: absolute;
    margin: 200px 950px;
    width: 200px;
    height: 10px;
    font-size: 40px;
}
.details{
    height: 300px;
    width: 500px;
    font-family: "Playwrite DE Grund", cursive;
    position: absolute;
    margin: 300px 770px;
    text-align: justify;
}
.order-food{
    background-image: linear-gradient(to left,tomato,orange);
    position: absolute;
    margin: 450px 10%;
    height: 50px;
    width: 300px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}
.contact{
    background-image: linear-gradient(to left,tomato,orange);
    position: absolute;
    margin: 480px 770px;
    height: 50px;
    width: 500px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}
.img8{
    background-image: url(box5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 500px 1250px;
}
.footer{
    position: absolute;
    margin: 1250px 0px;
}
.head1{
    position: absolute;
    margin: 0px 625px;
    width: 200px;
    height: 20px;
}
.details2{
    position: absolute;
    margin: 40px 400px;
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    height: 100px;
    width: 550px;
}
.dish1{
    position: absolute;
    margin: 200px 160px;
    height: 450px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
.dish2{
    position: absolute;
    margin: 200px 750px;
    height: 450px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
.img9{
    background-image: url(cook.jpg);
    height: 280px;
    width: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 30px 33px;
}
.img10{
    background-image: url(dish.png);
    height: 280px;
    width: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 30px 33px;
    border-radius: 20px;
}