@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
    color: #575757;;
}
#flexbox{
    display: flex;
}
#skip{
    color: #FBA24F;
}
h1{
    color: #575757;
}
#heading1{
    font-size: 40px;
    position: absolute;
    margin: 200px 10%;
}
.img1{
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    position: absolute;
    margin: 100px 60%;
}
#heading2{
    font-family: "Playwrite DE Grund", cursive;
    position: absolute;
    margin: 360px 10%;
}
.img2{
    background-image: url(man.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 410px;
    width: 400px;
    position: absolute;
    margin: ;
}