@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
}
#flexbox{
    display: flex;
}
#skip{
    color: #FBA24F;
}
h1{
    color: #575757;
}
#heading{
    font-size: 40px;
    position: absolute;
    margin: 200px 4%;
}
.img1{
    background-image: url();
}